@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.ql-snow{
  border: none !important;
  padding: 0 !important;
  padding-bottom: 17px !important;
}
.ql-toolbar{
  border-bottom: 2px solid #000000 !important;
}
.ql-editor{
  padding: 17px 0px !important;
}
.ql-picker-label{
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-top: -5px;
}
.ql-snow.ql-toolbar button, .ql-snow .ql-toolbar button{
  padding: 0 !important;
}